/* #212121; - основний текст */
/* #757575; - підписи */
/* лого - #000000 #2196F3; */
body{
   font-family: roboto, sans-serif;
   font-size: 14px;
   color: #212121;
   font-weight: 400;
   text-decoration: none;
   
}
 .web{
    color:#2196F3;
    font-family: raleway;
   font-size: 26px;
   letter-spacing: 0.78px;
   font-weight: 700;
   
 }
 .studio{
    color:black;
   font-family: raleway;
   font-size: 26px;
   letter-spacing: 0.78px;
   font-weight: 700;

 }
 
 .nav{
  
   font-weight: 500;
   letter-spacing: 0.28px;
color: #212121;
 text-decoration: none;
  
 }
 .nav-index,
 .nav-portf{
  color: #2196F3;

 }
.nav:hover{
   color:#2196F3;
 }
 .nav:focus{
  color: #2196F3;
 }

 .contact{
   color:#757575;
   font-weight: 500;
   letter-spacing: 0.28px;
   text-decoration: none;
 }

 .contact:hover{
   color:#2196F3;
 }
 .contact:focus {
   color: #2196F3;
 }
 .hero{
   color:#FFFFFf;
   text-align: center;
   font-size: 44px;
   font-weight: 900;
   line-height: 1.36;
   letter-spacing: 2.64px;
   text-transform: uppercase;
   background-color: #2F303A;
 }
 .button-hero{
   color: #FFF;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.87;
      letter-spacing: 0.96px;
         background: #2196F3;
         cursor: pointer;
 }
 .description-title{
     font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.42px;
 }
 .description{
color: #757575;
   line-height: 1,7;
   letter-spacing: 0.42px;
 
 }
 .comand{

    background-color: #F5F4FA;;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 1.08px;
 }
 .name{

      
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.48px;
 }
 .prof{
   color: #757575;
      font-family: Roboto;
      font-size: 16px;
      letter-spacing: 0.48px;
      text-decoration: none;
 }
 .adress{
   color: #FFF;
      line-height: 1.7;
      letter-spacing: 0.42px;
      font-style: normal;
 }
 .webstudio{
   text-decoration: none;
 }
 .radio-button{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.48px;
  cursor: pointer;
  background-color: #F5F4FA;
  font-family: inherit;}

 .radio-button:hover{
  color: #fff;
  background-color: #2196F3;
 }

  .radio-button:focus {
   color: #fff;
  background-color: #2196F3;}

 .signature{
  text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.42px;
    color: #212121;
    line-height: 0.5px;
 }
 ul{
  list-style-type: none;
 }
 .contact-footer{
  color: rgba(255, 255, 255, 0.60);
  text-decoration: none ;
 }
 .contact-footer:hover,
 .contact0footer:focus{
  color:#2196F3;
 }

 .footer{
  background-color: #2F303A;
 }
   .studio-footer{
  color: #FFF;
  font-family: raleway;
  font-size: 26px;
     letter-spacing: 0.78px;
    font-weight: 700;
 }  

a{
  text-decoration: none;
}

